<%= form_for(@vision) do |f| %>
  <% if @vision.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('errors.template.header', count: @vision.errors.count, model: t('activerecord.models.vision')) %>
              </h2>

      <ul>
      <% @vision.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
