<header><h1><%= t('visions.page') %></h1></header>
<nav class="neighbours">
  <ul>
<% if @neighbours[:prev] %>
    <li class="previous"><%= link_to t('visions.previous'), @neighbours[:prev], title: @neighbours[:prev].title %></li>
<% end %>
<% if @neighbours[:next] %>
    <li class="next"><%= link_to t('visions.next'), @neighbours[:next], title: @neighbours[:next].title %></li>
<% end %>
  </ul>
</nav>
<%= render @vision %>

<% if session[:user_id] %>
<footer>
  <%= link_to 'Edit', edit_vision_path(@vision) %> |
  <%= link_to 'Back', visions_path %>
</footer>
<% end %>