<h1>Dr. von Ozgg</h1>
<h2><%= t('blog.recent') %></h2>
<ul>
  <% @posts.each do |post| %>
    <li>
      <time datetime="<%= post.created_at.to_datetime %>"><%= post.created_at %></time>
      <h3><%= link_to post.title, post %></h3>
      <p class="description"><%= post.description %></p>
    </li>
  <% end %>
</ul>
