<%= form_with(Biovision::Components::BaseComponent.form_options(entity)) do |f| %>
  <%= render partial: 'shared/list_of_errors', locals: { entity: entity } %>

  <dl class="fields">
    <%= render partial: 'shared/forms/simple_image', locals: { f: f } %>
    <%= render partial: 'shared/forms/text_field', locals: { f: f, field: :title, data: { transliterate: 'post_slug' } } %>
    <%= render partial: 'shared/forms/text_field', locals: { f: f, field: :slug } %>
    <%= render partial: 'shared/forms/text_area', locals: { f: f, field: :lead } %>
    <div>
      <dt><%= f.label :body %></dt>
      <dd>
        <%=
          f.text_area(
              :body,
              class: 'input-text',
              cols: 80,
              rows: 25
          )
        %>
        <button type="button" class="js-text-formatter button button-secondary">&#x2B50;</button>
      </dd>
    </div>
    <%= render partial: 'shared/forms/entity_flags', locals: { f: f } %>
  </dl>

  <%= render 'shared/forms/state_container' %>

  <div class="buttons">
    <%= hidden_field_tag :entity_id, entity.id %>
    <%= f.button t(:save), class: 'button button-save' %>
  </div>
<% end %>
