<article class="post">
  <header>
    <time datetime="<%= post.created_at.to_datetime %>"><%= post.created_at %></time>
    <h2><%= post.title %></h2>
  </header>
  <div>
    <%= raw process_entry_body post.body %>
  </div>
  <% if session[:user_id] %>
  <footer>
    <ul>
      <li><%= link_to 'Show', post %></li>
      <li><%= link_to 'Edit', edit_post_path(post) %></li>
      <li><%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %></li>
    </ul>
  </footer>
  <% end %>
</article>
