<% content_for :meta_title, t('.title', page: current_page) %>
<% content_for :breadcrumbs do %>
  <span><%= t('.nav_text') %></span>
<% end %>

<article>
  <div class="content-wrapper">
    <h1><%= t('.heading') %></h1>

    <%= paginate @collection %>
    <%=
      render(
          partial: 'components/posts/list',
          locals: { collection: @collection }
      )
    %>
    <%= paginate @collection %>
  </div>
</article>